<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cahodental.admin.dao.AdminMapper">

    <insert id="saveAdmin" parameterType="com.cahodental.admin.model.po.AdminPO">
        INSERT INTO admin(
        id,
        user_name,
        password,
        shop_id,
        create_time
        ) VALUES (
        #{id},#{userName},#{password},#{shopId},now()
        )
    </insert>

    <update id="updateAdmin" parameterType="com.cahodental.admin.model.po.AdminPO">
        UPDATE admin
        SET
        user_name = #{userName},
        password = #{password},
        shop_id = #{shopId},
        update_time =now()
        WHERE id = #{id}
    </update>

    <select id="listAdmins" resultType="java.util.HashMap">
        SELECT
        a.id AS id,
        a.user_name AS userName,
        <!--a.password AS password,-->
        a.shop_id AS shopId,
        s.name AS shopName,
        a.create_time as createTime,
        a.update_time as updateTime
        FROM admin a
        LEFT JOIN shop s ON s.id = a.shop_id
        ORDER BY a.shop_id ASC
    </select>

    <select id="getAdminById" parameterType="java.lang.Long" resultType="java.util.HashMap">
        SELECT
        a.id as id,
        a.user_name as userName,
        a.password as password,
        a.shop_id as shopId,
        s.name as shopName
        left join shop s on s.id = a.shop_id
        from admin a where a.id = #{id}
    </select>

    <select id="getAdminByPassword" resultType="java.util.HashMap">
        select
        a.id as id,
        a.user_name as userName,
        a.password as password,
        a.shop_id as shopId,
        s.shop_name as shopName
        left join shop s on s.id = a.shop_id
        from admin a where a.user_name = #{userName}
    </select>

</mapper>