<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cahodental.admin.dao.OrderInfoMapper">

    <insert id="saveOrderInfo" parameterType="com.cahodental.admin.model.po.OrderInfoPO">
        INSERT INTO order_info(
        id,
        user_id,
        order_amount,
        is_promotion,
        discount,
        referer,
        have_gift,
        gift_detail,
        create_time
        ) VALUES (
        #{id},#{userName},#{password},#{shopId},now()
        )
    </insert>

    <update id="updateOrderInfo" parameterType="com.cahodental.admin.model.po.OrderInfoPO">
        UPDATE order_info
        SET
        user_id = #{userId},
        order_amount = #{orderAmount},
        is_promotion = #{isPromotion},
        discount = #{discount},
        referer = #{referer},
        have_gift = #{haveGift},
        gift_detail = #{giftDetail},
        update_time =now()
        WHERE id = #{id}
    </update>

    <update id="updateOrderStatus">
        UPDATE order_info
        SET
        is_pay = #{isPay},
        <if test="isPay != null and isPay == 1">
            pay_time = now()
        </if>
        WHERE id = #{id}
    </update>

    <select id="listOrderInfos" resultType="java.util.HashMap">
        SELECT
        oi.id as id,
        oi.user_id as user_id,
        u1.name as buyerName,
        order_amount as orderAmount,
        oi.is_promotion as isPromotion,
        oi.discount as discount,
        oi.referer as referer,
        u2.name as refererName,
        oi.is_pay as isPay,
        oi.pay_time as payTime,
        oi.have_gift as haveGift,
        oi.gift_detail as giftDetail,
        oi.create_time as createTime,
        oi.update_time as updateTime,
        s.id as shopId,
        s.name as shopName
        from order_info oi
        left join user u1 on u1.id = oi.user_id
        left join user u2 on u2.id = oi.referer
        left join shop s on s.id = u1.shop_id
        ORDER BY oi.id desc
    </select>

    <select id="listOrderInfosByShopId" parameterType="java.lang.Long" resultType="java.util.HashMap">
        SELECT
        oi.id as id,
        oi.user_id as user_id,
        u1.name as buyerName,
        order_amount as orderAmount,
        oi.is_promotion as isPromotion,
        oi.discount as discount,
        oi.referer as referer,
        u2.name as refererName,
        oi.is_pay as isPay,
        oi.pay_time as payTime,
        oi.have_gift as haveGift,
        oi.gift_detail as giftDetail,
        oi.create_time as createTime,
        oi.update_time as updateTime,
        s.id as shopId,
        s.name as shopName
        from order_info oi
        left join user u1 on u1.id = oi.user_id
        left join user u2 on u2.id = oi.referer
        left join shop s on s.id = u1.shop_id
        where s.id = #{id}
        ORDER BY oi.id desc
    </select>

    <select id="getOrderInfo" parameterType="java.lang.Long" resultType="java.util.HashMap">
        SELECT
        oi.id as id,
        oi.user_id as user_id,
        u1.name as buyerName,
        order_amount as orderAmount,
        oi.is_promotion as isPromotion,
        oi.discount as discount,
        oi.referer as referer,
        u2.name as refererName,
        oi.is_pay as isPay,
        oi.pay_time as payTime,
        oi.have_gift as haveGift,
        oi.gift_detail as giftDetail,
        oi.create_time as createTime,
        oi.update_time as updateTime,
        s.id as shopId,
        s.name as shopName
        from order_info oi
        left join user u1 on u1.id = oi.user_id
        left join user u2 on u2.id = oi.referer
        left join shop s on s.id = u1.shop_id
        where oi.id = #{id}
    </select>

</mapper>