<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cahodental.admin.dao.VipCardMapper">

    <insert id="saveVipCard" parameterType="com.cahodental.admin.model.po.VipCardPO">
        INSERT INTO vip_card(
        id,
        balance
        create_time
        ) VALUES (
        #{id},#{balance},#{createTime}
        )
    </insert>

    <update id="updateVipCard" parameterType="com.cahodental.admin.model.po.VipCardPO">
        UPDATE vip_card
        SET
        balance = #{balance},
        update_time =#{updateTime}
        WHERE id = #{id}
    </update>

</mapper>